body {
  padding-top: 25px;
}

.homepage {
  background-image: url('/imgs/dinnerbg.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.home-header,
.home-text {
  color: white;
  padding-top: 100px;
  margin-left: 70px;
  text-shadow: black 3px 3px;
}

.custom-font {
  font-size: 58px;
}

.custom-font2 {
  font-size: 32px;
}

.navbar {
  background-color: rgb(92, 2, 0);
}

.nav-item a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.nav-item a:hover {
  color: rgb(211, 170, 170);
}

#menu1 {
  background-image: url('/imgs/chickenimg.jpg');
  /* Replace with nachos image */
}

#menu2 {
  background-image: url('/imgs/barbecueimg.jpg');
  /* Replace with spinach dip image */
}

#menu3 {
  background-image: url('/imgs/fishimg.jpg');
  /* Replace with mozzarella sticks image */
}

/* PART 1 */
.container-flex {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.item-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: auto;
}

.appetizer-list {
  padding: 0;
  margin: auto 40px;
}

.appetizer-list-item {
  display: flex;
  flex-direction: row;
  margin: auto;
}

#appetizer1 {
  background-image: url('/imgs/nachosimg.jpg');
 
}

#appetizer2 {
  background-image: url('/imgs/spinachdipimg.jpg');
  
}

#appetizer3 {
  background-image: url('/imgs/mozzasticksimg.jpg');
  
}

.appetizer-text {
  margin: auto 40px;
}
